<!DOCTYPE html>
<html>
    <head>
        <title>Training set Pre-processing</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container text-center">
                <br>
            <h1>Training set Pre-processing</h1>
                <br>
            <img src="{{ url_for('frame_feed') }}"/>
                <br>
            <a href="http://localhost:8888/uploadVideoPage" class="btn btn-outline-dark">Back</a>
        </div>
    </body>
</html>
